

#services{
    background-color: whitesmoke;
}

.intro{
    padding: 90px;
   
}
.start{
    padding: 50px;
   
} 
.info{
    padding: 90px; 
}

#text{
  padding: 125px; 
}

h1{
  float: right;
}

#bottom{
  padding: 30px;
}
#fork{
  height: 30px;
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



hr.line {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.line:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

body{
  font-family: 'Dosis',sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
 
  background-color: whitesmoke;

}

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}
  
  .content .logo2 {
    height: auto;
    width: auto;
    margin-top: -23rem;
    float: right;
    margin-right: -525px;

  
   
    
 
  }
  .content .logotext{
     
      /* font-family: 'Courier New', Courier, monospace; */
      font-size: 40px;
      color: whitesmoke;
     
    
  }
 
  .pic{
    position:relative;
    opacity:0.85;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url('https://cdn.pixabay.com/photo/2016/02/05/15/34/pasta-1181189_1280.jpg');
    min-height:400px;
  }
  .movie{
    position:relative;
    opacity:0.85;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url('https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height:400px;
  }
  .section-light{
    background-color:whitesmoke;
    color:#666;
  }
  .pictext, .movietext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
    font-weight: bold;
   
  }
  
  .pictext .border{
    color:#fff;
    padding:15px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  .movietext .border{
    color:#fff;
    padding:15px;
  }
  
  .movietext .border.trans{
    background-color:transparent;
  }
  .carousel-inner{
      height: 825px;
      width: cover; 
      opacity: 0.80;
  }

  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
    background-color: #282828 !important;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font:'Dosis',sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 'Dosis',sans-serif;
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.col-md-4{
  padding-top: 10px;
}


  
 


