

#services{
    background-color: whitesmoke;
}

.intro{
    padding: 90px;
   
}
.start{
    padding: 50px;
   
} 
.info{
    padding: 90px; 
}

#text{
  padding: 125px; 
}

h1{
  float: right;
}


.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}
  
  .content .logo2 {
    height: auto;
    width: auto;
    margin-top: -23rem;
    float: right;
    margin-right: -525px;

  
   
    
 
  }
  .content .logotext{
     
      font-family: 'Courier New', Courier, monospace;
      font-size: 40px;
      color: whitesmoke;
     
    
  }
 
  .pic{
    position:relative;
    opacity:0.85;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url('https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height:400px;
  }
  .movie{
    position:relative;
    opacity:0.85;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url('https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height:400px;
  }
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  .pictext, .movietext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
   
  }
  
  .pictext .border{
    color:#fff;
    padding:15px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  .movietext .border{
    color:#fff;
    padding:15px;
  }
  
  .movietext .border.trans{
    background-color:transparent;
  }
  .carousel-inner{
      height: 825px;
      width: cover; 
      opacity: 0.80;
  }
  


  
 


